<svg width="480" height="133" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="700" height="133">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                .container { padding: 1em }
                .main {
                    display: flex;
                    margin: -.5rem;
                }

                @-moz-keyframes spin {
                    from { -moz-transform: rotate(0deg); }
                    to { -moz-transform: rotate(360deg); }
                }
                @-webkit-keyframes spin {
                    from { -webkit-transform: rotate(0deg); }
                    to { -webkit-transform: rotate(360deg); }
                }
                @keyframes spin {
                    from {transform:rotate(0deg);}
                    to {transform:rotate(360deg);}
                }

                .art {
                    display: block;
                    padding: .5rem;
                    flex: none;
                }

                .content {
                    display: block;
                    flex-basis: 0;
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding: .5rem;
                }

                .song {
                    color: #666;
                    overflow:hidden;
                    font-size: 32px;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                }

                .artist {
                    color: #b3b3b3;
                    font-size: 20px;
                }

                .cover {
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                }

                .spin {
                    animation: spin 4s infinite linear;
                }

                
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }

            </style>

            <div class="main">
                <a class="art" href="{}" target="_blank">
                    <center>
                        <img src="data:image/png;base64, {{image}}" class="cover {{status}}" />
                    </center>
                </a>

                <div class="content">
                    <div class="song">{{songName}}</div>
                    <div class="artist">{{artistName}}</div>
                </div>
            </div>

        </div>
    </foreignObject>
</svg>
